.moveListContainer {
  width: 300px;
  margin-left: 20px;
}

.moveList {
  height: 500px;
  max-height: 700px;
  overflow-y: auto;
  border: 1px solid #312c2c;
  padding: 10px;
  background-color: rgb(111, 111, 165);
}
